body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: radial-gradient(circle at 50% 50%, #000428, #004e92, #1e1e1e);
    color: #fff;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    overflow: hidden; /* Prevent scrollbars */
    position: relative;
    animation: backgroundAnimation 20s ease infinite;
}

@keyframes backgroundAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.calculator {
    position: relative;
    border: 2px solid #FFD700;
    padding: 20px;
    border-radius: 15px;
    background: #141e30; /* Solid background for calculator */
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
    width: 320px;
    text-align: center; /* Center align content */
    z-index: 1;
}

.calculator h1 {
    color: #FFD700;
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#display {
    width: 100%;
    height: 50px;
    text-align: right;
    /* padding: 10px; */
    border: none;
    border-radius: 10px;
    margin: 0 auto; /* Center align horizontally */
    /* display: block; Ensures it takes full width */
    font-size: 1.8em;
    background-color: #1e1e1e;
    color: #FFD700;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s, background-color 0.3s;
}

#display:focus {
    outline: none;
    box-shadow: 0 0 15px rgba(255, 215, 0, 0.8);
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding-top: 15px;
}

button {
    height: 60px;
    border: none;
    border-radius: 10px;
    font-size: 1.5em;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s, box-shadow 0.3s;
}

button.operator {
    background-color: #ff8c00;
}

button.operator:hover {
    background-color: #ffa500;
}

button.operator:active {
    background-color: #ff8c00;
    transform: scale(0.95);
}

button:not(.operator) {
    background-color: #1e90ff;
}

button:not(.operator):hover {
    background-color: #4682b4;
}

button:not(.operator):active {
    background-color: #1e90ff;
    transform: scale(0.95);
}

button.clear {
    background-color: #dc143c;
}

button.clear:hover {
    background-color: #ff6347;
}

button.clear:active {
    background-color: #dc143c;
    transform: scale(0.95);
}

button:hover {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}
